.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 80%;
  height: 140px; }
  .header .background {
    position: absolute;
    background: #d8e8ed;
    width: 100%;
    height: 90px;
    z-index: -1; }
  .header .half-circle {
    position: absolute;
    width: 185px;
    height: 90px;
    background-color: #d8e8ed;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: -1;
    margin: 70px 0px 0 -9px; }
  .header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000; }
    .header a img {
      margin: 10px 0 0 0;
      height: 45px; }
  .header .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s; }
    .header .card span {
      transition: all .1s;
      font-size: .8em;
      padding: 3px; }
    .header .card:hover {
      transform: scale(1.05); }
    .header .card:active {
      transform: scale(1); }
  .header .card-logo {
    align-self: flex-end; }
  .header .card-logo span {
    font-size: 2.4em;
    color: red;
    font-family: 'Londrina Shadow', cursive; }

@media (max-width: 868px) {
  .header {
    height: 80px; }

  .header a img {
    margin: 20px 15px 0px 15px;
    height: 36px; }

  .header .card span {
    font-size: .5em; }

  .header .half-circle {
    display: none; }

  .header .card-logo span {
    font-size: 1.4em; } }
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

body {
  background: #94d1e4; }

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  padding: 8px;
  width: 170px;
  height: 50px;
  line-height: 100%;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  color: #fff;
  transition: background-color 0.3s; }
  .btn a {
    color: #fff; }
  .btn:active {
    transform: scale(0.95); }
  .btn:focus {
    outline: 0; }

.btn-primary {
  background: #f04a4a; }
  .btn-primary:hover {
    background: #ec2d2d; }

.btn-secondary {
  background: #162475; }
  .btn-secondary:hover {
    background: #1d2b80; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%; }

.profile {
  display: flex;
  width: 100%;
  height: 75%; }
  .profile .img {
    background-size: cover;
    width: 100%;
    height: auto; }
  .profile .column {
    flex: 5;
    padding: 40px; }
    .profile .column.img {
      display: flex;
      align-items: flex-end;
      flex: 3;
      padding: 0; }

.profile-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px; }
  .profile-title .name {
    font-size: 3em;
    margin-bottom: 3px; }
  .profile-title .role {
    font-weight: 300;
    font-size: 1.4em; }

.profile-body {
  display: flex; }
  .profile-body .attribs {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 40px; }
    .profile-body .attribs .attribs-title {
      border-bottom: 2px solid rgba(0, 0, 0, 0.6);
      margin-bottom: 20px;
      font-weight: 700; }
    .profile-body .attribs .attrib {
      margin-bottom: 15px;
      display: flex; }
      .profile-body .attribs .attrib .fas {
        font-size: 1.2em;
        flex: 1; }
      .profile-body .attribs .attrib .attrib-content {
        flex: 10;
        font-size: 1.2em; }
  .profile-body .stat {
    display: flex;
    align-items: center;
    margin-bottom: 15px; }
    .profile-body .stat .stat-name {
      flex: 2;
      font-size: 1.2em; }
    .profile-body .stat .bar {
      flex: 3;
      border: 1px solid;
      height: 20px;
      border-radius: 20px; }
      .profile-body .stat .bar .value {
        width: 100%;
        height: 100%;
        background: #000;
        border-radius: 20px; }

#bottom {
  background: #d8e8ed; }

.img-small {
  display: none; }

@media (max-width: 868px) {
  .profile-body {
    flex-direction: column; }
    .profile-body .attribs {
      padding: 0; }

  .profile .column {
    flex: 1;
    padding: 10px; }
    .profile .column.img {
      flex: 1;
      display: none; } }

/*# sourceMappingURL=about.css.map */
