.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 80%;
  height: 140px; }
  .header .background {
    position: absolute;
    background: #d8e8ed;
    width: 100%;
    height: 90px;
    z-index: -1; }
  .header .half-circle {
    position: absolute;
    width: 185px;
    height: 90px;
    background-color: #d8e8ed;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: -1;
    margin: 70px 0px 0 -9px; }
  .header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000; }
    .header a img {
      margin: 10px 0 0 0;
      height: 45px; }
  .header .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s; }
    .header .card span {
      transition: all .1s;
      font-size: .8em;
      padding: 3px; }
    .header .card:hover {
      transform: scale(1.05); }
    .header .card:active {
      transform: scale(1); }
  .header .card-logo {
    align-self: flex-end; }
  .header .card-logo span {
    font-size: 2.4em;
    color: red;
    font-family: 'Londrina Shadow', cursive; }

@media (max-width: 868px) {
  .header {
    height: 80px; }

  .header a img {
    margin: 20px 15px 0px 15px;
    height: 36px; }

  .header .card span {
    font-size: .5em; }

  .header .half-circle {
    display: none; }

  .header .card-logo span {
    font-size: 1.4em; } }
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

body {
  background: #94d1e4; }

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  padding: 8px;
  width: 170px;
  height: 50px;
  line-height: 100%;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  color: #fff;
  transition: background-color 0.3s; }
  .btn a {
    color: #fff; }
  .btn:active {
    transform: scale(0.95); }
  .btn:focus {
    outline: 0; }

.btn-primary {
  background: #f04a4a; }
  .btn-primary:hover {
    background: #ec2d2d; }

.btn-secondary {
  background: #162475; }
  .btn-secondary:hover {
    background: #1d2b80; }

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center; }
  .content .questions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .content .title {
    width: 100%;
    text-align: center;
    font-size: 2.7em;
    font-weight: 300;
    color: #fff; }
  .content .question {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    border: 1px solid;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    background: #eee;
    border-radius: 35px;
    margin: 30px 20px; }
  .content h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px; }
  .content span {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center; }
    .content span a {
      font-size: inherit;
      color: #630eec;
      text-decoration: none; }

/*# sourceMappingURL=faq.css.map */
