<div class="footer">
	<div class="links">
		<a href="/" class="link">HOME</a>
		<a href="/book" class="link">BOOK</a>
		<a href="/about" class="link">ABOUT</a>
		<a href="/faq" class="link">FAQ</a>
	</div>
</div>