<div class="header">
	<div class="container">
		<div class="card card-book">
			<a href="/book" class="link">
				<img src="../assets/book.svg">
				<span>BOOK</span>
			</a>
		</div>
	</div>
	<div class="card card-about">
		<a href="/about" class="link">
			<img src="../assets/about.svg">
			<span>ABOUT US</span>
		</a>
	</div>
	<div class="card-logo">
		<a class="logo" href="/">
			<span>H A A S</span>
			<span>E S C A P E</span>
			<span>G A M E S</span>
			{{!-- <img src="../assets/logo.png"> --}}
		</a>
	</div>
	<div class="card card-faq">
		<a href="/faq" class="link">
			<img src="../assets/faq.svg">
			<span>FAQ</span>
		</a>
	</div>
	<div class="card card-leaderboard">
		<a href="/leaderboard" class="link">
			<img src="../assets/leaderboard.svg">
			<span>LEADERBOARD</span>
		</a>
	</div>
</div>