<div class="header">
	<div class="background"></div>
	<div class="half-circle"></div>
	<div class="card card-book" id="book">
		<a href="/book" class="link">
			<img class="nav-img" src="../assets/book.svg">
			<span>BOOK</span>
		</a>
	</div>
	<div class="card card-about"id="about">
		<a href="/about" class="link">
			<img class="nav-img" src="../assets/about.svg">
			<span>ABOUT US</span>
		</a>
	</div>
	<div class="card-logo">
		<a class="logo" href="/">
			<span>HAAS</span>
			<span>ESCAPE</span>
			<span>ROOMS</span>
			{{!-- <img src="../assets/logo.png"> --}}
		</a>
	</div>
	<div class="card card-faq" id="faq">
		<a href="/faq" class="link">
			<img class="nav-img" src="../assets/faq.svg">
			<span>FAQ</span>
		</a>
	</div>
	<div class="card card-leaderboard" id="leaderboard">
		<a href="/leaderboard" class="link">
			<img class="nav-img" src="../assets/leaderboard.svg">
			<span>LEADERBOARD</span>
		</a>
	</div>
</div>