<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles/css/{{styles}}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <title>Haas Escape Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
    <div class="flex-container">
        {{>header}}
        <span class="title">ABOUT THE GAME DESIGNERS</span>
        <div class="container">
            <div class="col">
                <div class="content left">
                    <span>Aaron Whitehead</span>
                    <span>Haas 2nd floor RA</span>
                    <span>Class of 2019</span>
                    <span>Computer Engineer</span>
                    <span>"I like building escape rooms because it is a cool way to involve the dorm."</span>
                    <span>39 Rooms Escaped</span>
                </div>
                <div class="img img-aaron"></div>
        
            </div>
            <div class="col">
        
                <div class="img img-kathryn"></div>
                <div class="content right">
                    <span>Kathryn Hall</span>
                    <span>Girlfriend of Haas 2nd floor RA</span>
                    <span>Class of 2019</span>
                    <span>Mechanical Engineer</span>
                    <span>"I like building escape rooms because it means I don't have to study"</span>
                    <span>46 Rooms Escaped</span>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./scripts/header.js"></script>
</html>