<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles/css/{{styles}}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <title>Haas Escape Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
    <div class="flex-container">
        {{>header}}
        <div class="background-img"></div>
        <div class="confirmation-card">
            <h1>Congratulations!</h1>
            <p>You've booked a spot for</p>
            <span class="game-title">Are You Smarter Than A Kindergartener?</span>
            <p>Be sure to check your email for details on when to arrive. If you have any questions, check out our <a
                    href="/faq" target="_blank">FAQ Page</a>.</p>
            <p>Hope to see you soon!</p>
        </div>
    </div>
</body>
<script src="./scripts/header.js"></script>
</html>