<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles/css/{{styles}}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap" rel="stylesheet">
    <title>Haas Escape Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
    <div class="flex-container">
        {{>header}}
        <div class="content">
            <h2 class="title">FREQUENTLY ASKED QUESTIONS</h2>
            <div class="questions">
                <div class="question">
                    <h1>What is an escape room?</h1>
                    <span>An escape room is a live game where you and your team follow clues and solve puzzles to achieve a
                        goal.</span>
                </div>
                <div class="question">
                    <h1>How much does it cost?</h1>
                    <span>It's FREE!</span>
                </div>
                <div class="question">
                    <h1>Am I really locked in the room?</h1>
                    <span>Don’t worry. The door is always left unlocked in case of emergencies. If you need to leave the room at
                        any time
                        you can,
                        but that doesn’t mean you won.</span>
                </div>
                <div class="question">
                    <h1>How long do I have?</h1>
                    <span>This escape game has an hour time limit. However, make sure to show up early for rules and sign in.
                        Also,
                        after the game
                        you will have a debrief and get a photo with your group!</span>
                </div>
                <div class="question">
                    <h1>What if we can’t figure it out?</h1>
                    <span>Every student needs help from the teacher once in a while. We offer clues when needed for the game to
                        help
                        guide you in
                        the right direction.</span>
                </div>
                <div class="question">
                    <h1>How many clues do you get?</h1>
                    <span>You get three free clues; after that each clue adds 2 minutes to your “leaderboard escape time”. For
                        example,
                        if you
                        escape in 59 minutes using 4 clues, your leaderboard escape time is 61 minutes. Check out our <a
                            href="/leaderboard">Leaderboard page</a> for the
                        best times so far!</span>
                </div>
                <div class="question">
                    <h1>Why is there an escape room in Haas?</h1>
                    <span>We love escape rooms and want to express that love with y’all! Check out the <a href="/about">About Us
                            page</a> for more info!</span>
                </div>
                <div class="question">
                    <h1>How difficult is it?</h1>
                    <span>We're not going to lie. This is tougher than the normal kindergarten, but if you work with your team we
                        are
                        sure you will
                        win and have fun along the way!</span>
                </div>
                <div class="question">
                    <h1>How can my friends and I play the escape game?</h1>
                    <span>Go to the <a href="/book">Booking page</a>. Each time allows for 5 people due to the size of the room.
                        Choose a date and time with
                        available
                        spots, select the number of people in your group, and add your contact info. You will get an email
                        confirming
                        your
                        booking.</span>
                </div>
                <div class="question">
                    <h1>What if I don’t have a group?</h1>
                    <span>Sign ups are open to individuals. Sign up for any time with available spots and make new
                        friends!</span>
                </div>
                <div class="question">
                    <h1>What if I am running late?</h1>
                    <span>We will do the best we can to accommodate you and your group if you are running late. However, we do
                        have
                        other groups
                        who signed up for times. Therefore, your timer might start at your game time. You can still come and
                        play, but you will have less than 60 minutes.</span>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./scripts/header.js"></script>
</html>