.header {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 98.5%;
    background: rgba(#fff, .6);

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000;

        img {
            margin: 0 0 10px 0;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(1);
        }
    }

    .card-logo span {
        font-weight: 700;
        font-size: 1.9em;
        color: #c357a1;
    }
}